@model Ballastlane.Data.Models.Entities.Product

@{
    ViewData["Title"] = "Product";
}

<h1>Find a product</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellingPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.SellingPrice)
            </td>
        </tr>

    </tbody>
</table>
